/LP1_codes/Pass1_Pass2/Pass1/.settings/
/LP1_codes/Pass1_Pass2/Pass1/out/
/LP1_codes/Pass1_Pass2/Pass1/.idea/
/LP1_codes/Pass1_Pass2/Pass2/.idea/
/LP1_codes/Pass1_Pass2/Pass2/.settings/
/LP1_codes/Pass1_Pass2/Pass2/out/
